
.footer{
    background-color: rgb(0, 7, 48);
}
.list-unstyled a{
    color: var(--primary-color)
}
.list-unstyled a:hover{
    color: rgb(162, 164, 189)
}


.address a{
    color: var(--primary-color)
}

.address a:hover{
    color: white
}

